[Desktop Entry]
Type=Application
Name=Mail
Comment=Light terminal Gmail client with Jev sorting
Exec=mail-window compose %u
Icon=mail-message-new
Terminal=false
MimeType=x-scheme-handler/mailto;
Categories=Office;Network;Email;
